

img.back{
    width: 30%;
    height: auto;
    /*padding-top: 3%;
    
    /*align-content: center;*/
}

p.centrado{
    text-align: center;
}

.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    border-top-color: #000000;
    animation: spinner .8s linear infinite;
  }