<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Login</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">


</head>

<body>

  <main>
    <div class="container">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="d-flex justify-content-center py-4">
                <!-- <h1><strong>TiendasM</strong></h1> -->

              </div><!-- End Logo -->

              <div class="card mb-3">

                <div class="card-body">

                  <!-- <div class="pt-4 pb-2">
                    <h2 class="card-title text-center pb-0 fs-4">Iniciar sesion</h2>
                  </div> -->
                  <!-- <img src="../../assets/logo.jpg" width="100%" class="p-1" alt="dsf"> -->
                  <h2 class="text-center">Reysman</h2>
                  <form class="form" [formGroup]="loginForm">
                    <mat-form-field class="example-full-width" style="width: 400px !important" appearance="fill">
                      <mat-label>Usuario</mat-label>
                      <input type="text" matInput placeholder="Usuario" formControlName="user"
                        onkeydown="return /[0-9A-Z]/i.test(event.key)"
                        onkeyup="javascript:this.value=this.value.toUpperCase();" required />
                      <mat-hint align="start" *ngIf="validateOpinion['user'].hasError('required')"><strong
                          class="text-danger">Campo requerido!</strong> </mat-hint>

                    </mat-form-field>
                    <br />
                    <mat-form-field class="example-full-width" style="width: 400px !important" appearance="fill">
                      <mat-label>Contraseña</mat-label>
                      <input matInput placeholder="Contraseña" form [type]="hide ? 'password' : 'text'"
                        formControlName="pass" maxlength="25" (keydown.space)="$event.preventDefault()" title="La contraseña debe contener al menos un número, una mayúscula, una letra
                        minúscula,un caracter especial y al menos 8 caracteres!" />
                      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                      <mat-hint align="start" *ngIf="validateOpinion['pass'].hasError('required')"><strong  class="text-danger" >Campo requerido!</strong> </mat-hint>
                      <mat-hint align="start" *ngIf="validateOpinion['pass'].hasError('pattern')">
                         <strong class="text-danger">La contraseña es invalida!</strong> 
                      </mat-hint>
                    </mat-form-field>
                    <br />
                    <button mat-raised-button color="primary" class="w-100" (click)="login()">
                      Iniciar sesión
                    </button>
                    <br />
                    <br />
                    <a routerLink="/seleccion"><strong>¿Recuperar contraseña?</strong> </a>
                    <br/>
                    <a routerLink="/registro">¿No tienes cuenta? Registrate aquí</a> 
                  </form>

                </div>
              </div>



            </div>
          </div>
        </div>

      </section>

    </div>
  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->


</body>

</html>