<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Registro</title>
    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 col-md-12 d-flex flex-column align-items-center justify-content-center">
                <br>
                <br>
                <div class="card mb-3">
                    <div class="card-body">
                        <h2 class="text-center">Reysman</h2>
                        <form class="form" [formGroup]="registerForm">
                            <div class="row">
                                <div class="col-lg-4">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>Primer nombre</mat-label>
                                        <input matInput placeholder="Ingrese primer nombre"
                                            formControlName="PRIMER_NOMBRE" maxlength="15"
                                            onkeypress="return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122))"
                                            onkeyup="javascript:this.value=this.value.toUpperCase();"
                                            oncopy="return false" onpaste="return false">
                                        <mat-hint align="start"
                                            *ngIf="validateOpinion['PRIMER_NOMBRE'].hasError('required')">
                                            <strong class="text-danger">Campo requerido!</strong>
                                        </mat-hint>
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-4">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>Segundo nombre</mat-label>
                                        <input matInput placeholder="Ingrese segundo nombre"
                                            formControlName="SEGUNDO_NOMBRE" maxlength="15"
                                            onkeypress="return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122))"
                                            onkeyup="javascript:this.value=this.value.toUpperCase();"
                                            oncopy="return false" onpaste="return false">
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-4">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>Primer apellido</mat-label>
                                        <input matInput placeholder="Ingrese primer apellido"
                                            formControlName="PRIMER_APELLIDO" maxlength="15" required
                                            onkeypress="return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122))"
                                            onkeyup="javascript:this.value=this.value.toUpperCase();"
                                            oncopy="return false" onpaste="return false">
                                        <mat-hint align="start"
                                            *ngIf="validateOpinion['PRIMER_APELLIDO'].hasError('required')">
                                            <strong class="text-danger">Campo requerido!</strong>
                                        </mat-hint>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>Segundo apellido</mat-label>
                                        <input matInput placeholder="Ingrese segundo apellido"
                                            formControlName="SEGUNDO_APELLIDO" maxlength="15"
                                            onkeypress="return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122))"
                                            onkeyup="javascript:this.value=this.value.toUpperCase();"
                                            oncopy="return false" onpaste="return false">
                                      
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-4">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>Identidad</mat-label>
                                        <input matInput placeholder="Ingrese identidad" formControlName="DNI"
                                            maxlength="13" minlength="13" required
                                            onkeypress="return ((event.charCode >= 48 && event.charCode <= 57) || (event.charCode >= 45 && event.charCode <= 45) )"
                                            oncopy="return false" onpaste="return false">
                                        <mat-hint align="start" *ngIf="validateOpinion['DNI'].hasError('required')">
                                            <strong class="text-danger">Campo requerido!</strong>
                                        </mat-hint>
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-4">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>Direccion</mat-label>
                                        <input matInput placeholder="Ingrese direccion" formControlName="DIREECION"
                                            onkeyup="javascript:this.value=this.value.toUpperCase();"
                                            oncopy="return false" onpaste="return false">
                                        <mat-hint align="start"
                                            *ngIf="validateOpinion['DIREECION'].hasError('required')"><strong
                                                class="text-danger">Campo requerido!</strong> </mat-hint>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Estado civil</mat-label>
                                        <mat-select formControlName="EST_CIVIL">
                                            <mat-option value="SOLTERO">Soltero</mat-option>
                                            <mat-option value="CASADO">Casado</mat-option>
                                            <mat-option value="VIUDO">Viudo</mat-option>
                                        </mat-select>
                                        <mat-hint align="start"
                                            *ngIf="validateOpinion['EST_CIVIL'].hasError('required')"><strong
                                                class="text-danger">Campo requerido!</strong> </mat-hint>
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-4">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Sexo</mat-label>
                                        <mat-select formControlName="SEXO">
                                            <mat-option value="MASCULINO">Masculino</mat-option>
                                            <mat-option value="FEMENINO">Femenino</mat-option>
                                        </mat-select>
                                        <mat-hint align="start" *ngIf="validateOpinion['SEXO'].hasError('required')">
                                            <strong class="text-danger">Campo requerido!</strong>
                                        </mat-hint>
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-4">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>Telefono</mat-label>
                                        <input matInput placeholder="Ingrese telefono" formControlName="TELEFONO"
                                            maxlength="8" minlength="8" required
                                            onkeypress="return ((event.charCode >= 48 && event.charCode <= 57) || (event.charCode >= 45 && event.charCode <= 45) )"
                                            oncopy="return false" onpaste="return false">
                                        <mat-hint align="start"
                                            *ngIf="validateOpinion['TELEFONO'].hasError('required')"><strong
                                                class="text-danger">Campo requerido!</strong> </mat-hint>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>Correo electronico</mat-label>
                                        <input matInput placeholder="Ingrese correo" formControlName="EMAIL">
                                        <mat-hint align="start" *ngIf="validateOpinion['EMAIL'].hasError('email')">
                                            <strong class="text-danger">Correo incorrecto!</strong>
                                        </mat-hint>
                                        <mat-hint align="start" *ngIf="validateOpinion['EMAIL'].hasError('required')">
                                            <strong class="text-danger">Campo requerido!</strong>
                                        </mat-hint>
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-4">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>Usuario</mat-label>
                                        <input matInput placeholder="Ingrese usuario" formControlName="USUARIO"
                                            onkeydown="return /[0-9A-Z]/i.test(event.key)"
                                            onkeyup="javascript:this.value=this.value.toUpperCase();">
                                        <mat-hint align="start" *ngIf="validateOpinion['USUARIO'].hasError('required')">
                                            <strong class="text-danger">Campo requerido!</strong>
                                        </mat-hint>
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-4">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>Contraseña</mat-label>
                                        <input matInput placeholder="Ingrese Contraseña" formControlName="CONTRASEÑA"
                                            [type]="hide ? 'password' : 'text'"
                                            (keydown.space)="$event.preventDefault()">
                                        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' :
                                            'visibility'}}</mat-icon>
                                        <mat-hint align="start"
                                            *ngIf="validateOpinion['CONTRASEÑA'].hasError('required')"><strong
                                                class="text-danger">Campo requerido!</strong> </mat-hint>
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-4">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>Repite Contraseña</mat-label>
                                        <input matInput placeholder="Repite Contraseña" form
                                            [type]="hide ? 'password' : 'text'" formControlName="repitepass"
                                            maxlength="25" />
                                        <mat-hint align="start"
                                            *ngIf="validateOpinion['repitepass'].hasError('required')"><strong
                                                class="text-danger">Campo requerido!</strong> </mat-hint>
                                    </mat-form-field>
                                </div>

                                <div class="col-lg-4">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Fecha nacimiento</mat-label>
                                        <input matInput [matDatepicker]="picker" formControlName="FEC_NACIMIENTO">
                                        <mat-hint>MM/DD/YYYY</mat-hint>
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                        <mat-hint align="start"
                                            *ngIf="validateOpinion['FEC_NACIMIENTO'].hasError('required')">
                                            <strong class="text-danger">Campo requerido!</strong>
                                        </mat-hint>
                                    </mat-form-field>
                                </div>
                            </div>
                            <br />
                            <button mat-raised-button color="primary" class="w-40" (click)="guardar()">
                                Registrar
                            </button>
                            <br />
                            <br />
                            <a href="" routerLink="/inicio">Ya tienes cuenta? Iniciar sesión</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>