<mat-card>
    <mat-card-title><h4 class="text-center"><strong>{{_service.register.get('COD_PREGUNTA')?.value ? "ACTUALIZAR USUARIO":"CREAR USUARIO"}}</strong></h4></mat-card-title>
    <mat-card-subtitle>
        <form [formGroup]="_service.register">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Pregunta</mat-label>
                <input matInput placeholder="Ingrese pregunta" formControlName="PREGUNTA">
                <mat-hint align="start" *ngIf="validateOpinion['PREGUNTA'].hasError('required')"><strong class="text-danger">Campo requerido!</strong> </mat-hint>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>Estado</mat-label>
                <mat-select formControlName="ESTADO">
                  <mat-option value="1">SI</mat-option>
                  <mat-option value="2">NO</mat-option>
                </mat-select>
                <mat-hint align="start" *ngIf="validateOpinion['ESTADO'].hasError('required')"><strong class="text-danger">Campo requerido!</strong> </mat-hint>
              </mat-form-field>
        </form>
    </mat-card-subtitle>
    <mat-card-actions>
      <button mat-button color="primary" (click)="guardar()" [disabled]="!_service.register" >{{_service.register.get('COD_PREGUNTA')?.value ? "ACTUALIZAR":"CREAR"}}</button>
      <button mat-button color="warn" (click)="cerrarmodal()">Cerrar</button>
    </mat-card-actions>
  </mat-card>
 
