<mat-card>
    <mat-card-title><h4 class="text-center"><strong>{{_service.register.get('COD_CATEGORIA')?.value ? "ACTUALIZAR CATEGORIA":"CREAR CATEGORIA"}}</strong></h4></mat-card-title>
    <mat-card-subtitle>
        <form [formGroup]="_service.register">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Categoria</mat-label>
                <input matInput  formControlName="NOM_CATEGORIA"
                 onkeyup="javascript:this.value=this.value.toUpperCase();" oncopy="return false" onpaste="return false">
                <mat-hint align="start" *ngIf="validateOpinion['NOM_CATEGORIA'].hasError('required')"><strong  class="text-danger" >Campo requerido!</strong> </mat-hint>
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Descripcion</mat-label>
                <input matInput  formControlName="DESCRIPCION"
                 onkeyup="javascript:this.value=this.value.toUpperCase();" oncopy="return false" onpaste="return false">
                <mat-hint align="start" *ngIf="validateOpinion['DESCRIPCION'].hasError('required')"><strong  class="text-danger" >Campo requerido!</strong> </mat-hint>
            </mat-form-field>
            <br>
        </form>
    </mat-card-subtitle>
    <mat-card-actions>
      <button mat-button color="primary" (click)="guardar()">{{_service.register.get('COD_CATEGORIA')?.value ? "ACTUALIZAR":"CREAR"}}</button>
      <button mat-button color="warn" (click)="cerrarmodal()">Cerrar</button>
    </mat-card-actions>
  </mat-card>
 
