<mat-card>
    <mat-card-title><h4 class="text-center"><strong>CREAR VENTA</strong></h4></mat-card-title>
    <mat-card-subtitle>
        <form [formGroup]="_service.register">
            <div class="row">
                <div class="col-lg-3">
                    <!-- <mat-form-field appearance="fill">
                        <mat-label>Clientes</mat-label>
                        <mat-select formControlName="COD_CLIENTE">
                          <mat-option *ngFor="let food of (_service.responses$ | async)" [value]="food.COD_CLIENTE">
                            {{food.PRIMER_NOMBRE}}
                          </mat-option>
                        </mat-select>
                        <mat-hint align="start" *ngIf="validateOpinion['COD_CLIENTE'].hasError('required')"><strong class="text-danger">Campo requerido!</strong> </mat-hint>
                      </mat-form-field>  -->
                      <mat-form-field  appearance="fill">
                        <mat-label>Clientes</mat-label>
                        <input type="text" matInput formControlName="COD_CLIENTE" [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayClientes" >
                          <mat-option *ngFor="let option of filteredClientes | async" [value]="option">
                            {{option.PRIMER_NOMBRE}}
                          </mat-option>
                        </mat-autocomplete>
                        <mat-hint align="start" *ngIf="validateOpinion['COD_CLIENTE'].hasError('required')"><strong
                            class="text-danger">Campo requerido!</strong> </mat-hint>
                      </mat-form-field>  
                </div>
                <div class="col-lg-3">
                    <!-- <mat-form-field appearance="fill">
                        <mat-label>Articulos</mat-label>
                        <mat-select formControlName="COD_ARTICULO" (ngModelChange)="modelChanged($event)">
                          <mat-option *ngFor="let food of (_service.responsearticulos$ | async)" [value]="food.COD_ARTICULO">
                            {{food.NOM_ART}}
                          </mat-option>
                        </mat-select>
                        <mat-hint align="start" *ngIf="validateOpinion['COD_ARTICULO'].hasError('required')"><strong class="text-danger">Campo requerido!</strong> </mat-hint>
                      </mat-form-field> -->
                      <mat-form-field  appearance="fill">
                        <mat-label>Articulos</mat-label>
                        <input type="text" matInput formControlName="COD_ARTICULO" [matAutocomplete]="articulo">
                        <mat-autocomplete #articulo="matAutocomplete" [displayWith]="displayArticulo" (optionSelected)='modelChanged($event)'>
                          <mat-option *ngFor="let option of filteredArticulos | async" [value]="option">
                            {{option.NOM_ART}}
                          </mat-option>
                        </mat-autocomplete>
                        <mat-hint align="start" *ngIf="validateOpinion['COD_ARTICULO'].hasError('required')"><strong
                            class="text-danger">Campo requerido!</strong> </mat-hint>
                      </mat-form-field> 
                </div>
                <div class="col-lg-3">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Precio unitario</mat-label>
                        <input matInput formControlName="COS_UNITARIO">
                        <mat-hint align="start" *ngIf="validateOpinion['COS_UNITARIO'].hasError('required')"><strong class="text-danger">Campo requerido!</strong> </mat-hint>
                    </mat-form-field>
                </div>
                <div class="col-lg-3">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Cantidad</mat-label>
                        <input matInput placeholder="Ingrese cantidad" formControlName="CANTIDAD" onkeydown="return /[0-9A-Z]/i.test(event.key)">
                        <mat-hint align="start" *ngIf="validateOpinion['CANTIDAD'].hasError('required')"><strong class="text-danger">Campo requerido!</strong> </mat-hint>
                        <!-- <mat-hint align="start" *ngIf="!validateOpinion['CANTIDAD'].hasError('pattern')"><strong class="text-danger">Solo numeros!</strong> </mat-hint> -->
                   
                    </mat-form-field>
                </div>
                <div class="col-lg-3">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Stock</mat-label>
                        <input matInput placeholder="" formControlName="STOCK">
                        <mat-hint align="start" *ngIf="validateOpinion['STOCK'].hasError('required')"><strong class="text-danger">Campo requerido!</strong> </mat-hint>
                    </mat-form-field>
                </div>
                <div class="col-lg-3">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Total bruto</mat-label>
                        <input matInput  formControlName="TOTALBRUTO">
                        <mat-hint align="start" *ngIf="validateOpinion['TOTALBRUTO'].hasError('required')"><strong class="text-danger">Campo requerido!</strong> </mat-hint>
                    </mat-form-field>
                </div>
                <div class="col-lg-3">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Total final</mat-label>
                        <input matInput formControlName="TOTALFINAL">
                        <mat-hint align="start" *ngIf="validateOpinion['TOTALFINAL'].hasError('required')"><strong class="text-danger">Campo requerido!</strong> </mat-hint>
                    </mat-form-field>
                </div>
            </div>
       <button mat-button color="primary" (click)="agregar()">Agregar</button>

        </form>
    </mat-card-subtitle>
    <mat-card-actions *ngIf="_service.productos.length > 0">
      <div class="table-responsive">
        <table class="table  bordeTabla tablep" role="table">
            <thead class="theadp">
                <tr class="tablebg text-center"> 
                    <th class="thp" scope="col" role="columnheader">Id</th>
                    <th class="thp" scope="col" role="columnheader">Articulo</th>
                    <th class="thp" scope="col" role="columnheader">Cantidad</th>
                    <th class="thp" scope="col" role="columnheader">Opciones</th>
                </tr>
            </thead>
               <tbody role="rowgroup" class="tbodyp">
                <tr class="text-center trp" role="row" *ngFor="let item of (_service.productos)">
                    <td role="cell" data-title="Nombre" class="tdp"> {{item.id}}</td>
                    <td role="cell" data-title="Nombre" class="tdp"> {{item.producto}}</td>
                    <td role="cell" data-title="Nombre" class="tdp"> {{item.cantidad}}</td>
                    <td role="cell" data-title="Opciones" class="tdp">
                        <div class="text-center">
                            <button mat-mini-fab color="warn"  (click)="eliminar(item)" >
                                <mat-icon>delete_forever</mat-icon>
                            </button>
                        
                        </div>
                    </td>
                    
                </tr>
                <tr>
                  <td colspan="2"></td>  
                  <td colspan="1"><b>Total:</b> </td>  
                  <td colspan="1"><b>{{total}}</b></td>  
                </tr>
            </tbody> 
        </table>
        <mat-paginator id="d" [length]="(_service.productos)?.length" [pageSize]="pageSize"
        (page)="cambioPagina($event)">
    </mat-paginator>
    </div>
    <button mat-button color="primary" (click)="guardar()">Guardar</button>
      <!-- <button mat-button color="primary" (click)="guardar()">{{_service.register.get('COD_OBJETO')?.value ? "ACTUALIZAR":"CREAR"}}</button>
      <button mat-button color="warn" (click)="cerrarmodal()">Cerrar</button> -->
    </mat-card-actions>
  </mat-card>
 
