 <div class="row">
    <div class="col-lg-3">
        <mat-card>
            <mat-card-title class="clg">Usuarios</mat-card-title>
            <mat-card-subtitle>Registrados</mat-card-subtitle>
            <mat-card-actions>
              <button mat-button>{{usuarios}}</button>
            </mat-card-actions>
          </mat-card>
    </div>
    <div class="col-lg-3">
        <mat-card>
            <mat-card-title class="clg">Proveedores</mat-card-title>
            <mat-card-subtitle>Registrados</mat-card-subtitle>
            <mat-card-actions>
              <button mat-button>{{proveedores}}</button>
            </mat-card-actions>
          </mat-card>
    </div>
    <div class="col-lg-3">
        <mat-card>
            <mat-card-title class="clg">Clientes</mat-card-title>
            <mat-card-subtitle>Registrados</mat-card-subtitle>
            <mat-card-actions>
              <button mat-button>{{clientes}}</button>
            </mat-card-actions>
          </mat-card>
    </div>
    <div class="col-lg-3">
        <mat-card>
            <mat-card-title class="clg">Personas</mat-card-title>
            <mat-card-subtitle>Registrados</mat-card-subtitle>
            <mat-card-actions>
              <button mat-button>{{personas}}</button>
            </mat-card-actions>
          </mat-card>
    </div>
</div>
<br>
 <!-- <div class="row">
    <div class="col-lg-6">
        <mat-card >
            <canvas id="myChart"></canvas>       
          </mat-card>
    </div>
    <div class="col-lg-6">
        <mat-card>
            <canvas id="myChart2"></canvas>       
          </mat-card>
    </div>
</div>  -->
<!-- <br>
<div class="row">
    <div class="col-lg-6">
        <mat-card>
            <canvas id="myChart4"></canvas>       
          </mat-card>
    </div>
    <div class="col-lg-6">
        <mat-card>
            <canvas id="myChart3"></canvas>       
          </mat-card>
    </div>
</div>  -->
